.transactions-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    position: absolute;
    top: 100px;
    left: 70px;
}

.graph-item {
    display: flex;
    height: 100%;
    width: 50vw;
    padding: 20px;
    background-color: #f0f0f0;
}