#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
}

/* App.css */
.nav-label-styling {
  font-size: 1.1rem !important;
  /* Add !important if needed */
  font-weight: 600 !important;
  font: Roboto !important;

}

.bottom-nav-styling{
  background-color: #8DDAB8 !important;
  height: 8vh !important;
}
.nav-label-styling:hover {
  color: white !important;

}
.RateofReturnChart{
  position:relative;
  width:90vw;
  height:80vh;
  border: 0.5rem solid rgb(65, 100, 84, .20);
  border-radius: 3rem;
  border-width: 1rem;
  padding: 1rem;
}
.ButtonStyle{
  outline: none !important;
}
.HelpText{
  font: "Arial, sans-serif" ;
  font-size: 1rem !important;
  font-weight: bold;
  width:30vw;
  background-color: #8DDAB8 !important;
  color: rgb(65, 100, 84) !important;
}
.tradingview-widget-container{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  width: 100vw !important;
}